<div class="container">

  <form class="form" action="/artist-search" , method="GET">
    <input
      class="input"
      type="text"
      name="artistName"
      placeholder="Input Artist Name Here"
    />
    <button type="submit"> Search for an Artist</button>
  </form>
</div>